.nav a {
    font-size: 150%;
    cursor: pointer;
    color: rgb(133, 133, 133);
  }

  .nav button {
    font-size: 100%;
    border: none;
    background: none;
    cursor: pointer;
    color: rgb(133, 133, 133);
  }

.Worksheet-main {
    margin: 7vh 0;
}

@media only screen and (max-width: 500px) {
  .nav a {
    font-size: 100%;
  }

  .nav button {
    font-size: 100%;
  }
}