
body {
    max-width: 1800px;
    margin: 0 auto;
  }
  
  .App.main {
  }

  .header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    max-width: 1800px;
  }

  header h1 {
      margin: none;
      font-size: 2vh;
  }